* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100lvh;
  display: grid;
  background-color: #f0efef;
  place-content: center;
}

.geist-mono-text {
  font-size: clamp(1em, 1vw + 0.3em, 1.2em);
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-style: normal;
}

label {
  display: inline-block;
  width: 300px;
}

.range-wrapper {
  width: 100%;
  height: 40px;
  position: relative;
  height: 100%;
}

.markers {
  width: 100%;
  position: absolute;
  top: 0;
  /* height: 100%; */
  height: 40px;
  display: flex;
  /* z-index: 1; */
  align-items: center;
  justify-content: space-between;
}

/* webkit browsers - Chrome, Opera, Edge, Safari */
[data-slider] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background: transparent; /* removes default background */
  width: 300px;
  height: 100%;
  border-radius: 14px;
  border: 2px solid #e1e1e1;
  /* border-radius: 10px; */
}

[data-slider]:hover{
  cursor: grab;

}

[data-slider]:focus{
  cursor: grabbing;
}

/* range track - the lower background */
[data-slider]::-webkit-slider-runnable-track {
  width: 100%;
  height: 40px;
  z-index: -1;
  background: #e1e1e1;
  border-radius: 10px;
}



[data-slider]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15%;
  height: 40px;
  /* background: gree; */
  border-radius: 10px;
  z-index: 1000;
  position: relative;
  /* cursor: grab; */
}

/* when focused - change the border radius by the left to avoid visual mismatch */
/* [data-slider]:focus::-webkit-slider-thumb {
  border-radius: 10px;
   border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
} */

[data-progress-bar] {
  /* background-color: red; */
  background: white;
  width: 15%;
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  /* background-color: red; */
  position: absolute;
  /* border: 5px solid blu; */
  border-radius: 14px;
  left: 0;
  top: 2px;
  height: 40px;
}

[data-progress-bar]::before{
  content: '';
  position: absolute;
  right: 12px;
  top: 10px;
  width: 2px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
}

.marker-dots{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.marker-dots div{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
}

/* range track on firefox */
[data-slider]::-moz-range-track {
  width: 100%;
  height: 40px;
  cursor: grab;
  /* background: #e1e1e1; */
  border-radius: 10px;
}

[data-slider]:active::-moz-range-track {
  cursor: grabbing;
}

.moz-wrapper{
  width: 100%;
  height: 43px;
}

[data-slider]::-moz-range-thumb {
  height: 40px; /* Set your desired thumb size */
  width: 50px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent; /*Set your desired thumb color*/
  border: none;
  cursor: grab;
}

[data-slider]:active::-moz-range-thumb {
  cursor: grabbing;
}


.range-counter{
  position: absolute;
  bottom: 60px;
  right: 0;
}